.letter {
    position: relative;
    background-color: #fff;
    width: calc(280px * 0.9);
    margin-top:-180px;
    margin-left: auto;
    margin-right: auto;
    height: calc(180px * 0.9);
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}

.letter.open  {
    z-index: 2;
    animation: open-animation 3s ease 0.5s forwards;
  }
  
  @keyframes open-animation {
    0% {
      transform:translateY(0%);
    }
    33% {
      transform:translateY(-100%);
      z-index:2;
    }
    66%{
      transform: translateY(0%);
      z-index:5;
      scale:1
    }
    100%{
      transform: translateY(0%);
      z-index:5;
      scale:10;
      
    }
  }